body {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* جلوگیری از اسکرول افقی */
}

/*header*/
.home,
.about,
.form,
.product {
    font-size: 15pt;
    position: relative;
}

.home::after,
.about::after,
.product::after,
.form::after {
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    bottom: -7px;
    position: absolute;
    background: linear-gradient(to right, #FF9900, #CC6600);
    transition: ease-in 700ms;
}

.home:hover::after,
.about:hover::after,
.form:hover::after,
.product:hover::after {
    width: 100%;
    transition: ease 700ms;
}

.container {
    padding: 2rem;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.75rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.our-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 310px;
    height: 590px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px #CC6600 solid;
    text-align: center;
    border-radius: 20px;
    padding: 0;
    background-color: rgb(52, 52, 52);
    /* Ensure no padding inside the card */
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    /* Ensure the image fits the top corners */
}

.card-body {
    padding: 1rem;
    flex: 1;
}

.btn-click {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    bottom: 3px;
    position: relative;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;
}

.card-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;
}

.collection {
    padding: 2rem;
    width: 100%;
    height: auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.part-one-for-new-collection {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hidden {
    opacity: 0;
}

.animate-slide-in-left {
    animation: slide-in-left 1s ease-out forwards;
}

.animate-slide-in-right {
    animation: slide-in-right 1s ease-out forwards;
}

.part-two-for-new-collection {
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.jordan {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22pt;
}

.detail-jordan {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;
}

.nike {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer,.all-footer {
    display: flex;
    justify-content: space-between;
}

.social-media {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.slogan {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}